.litomobile_blue.litomobile_container {
    background: #2e2986;

    .litomobile_menu {
        padding: 0;

        li,
        li > * {
            &:hover {
                background: #68217e;
                color: #b1e6ff;
            }
        }

        li {
            color: #519fd8;

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
