.litomobile_dark.litomobile_container {
    background: #363636;

    .litomobile_menu {
        padding: 0;

        li,
        li > * {
            &:hover {
                background: rgb(100, 100, 100);
                color: rgb(245, 245, 245);
            }
        }

        li {
            color: rgb(150, 150, 150);

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
