.litomobile_red.litomobile_container {
    background: #862929;

    .litomobile_menu {
        padding: 0;

        li,
        li > * {
            &:hover {
                background: #7e2121;
                color: #ffb1b1;
            }
        }

        li {
            color: #d85151;

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
